<h1>Hi there!</h1>
<h2>What is your message for the coach?</h2>
<form action = '/answer' method='get'>
  <input type="text" name="answer" class="input">
  <input type="submit" value="Ask" class="button">
</form>

